@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Contact
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit contact details</h3>

<form method="post"> 
    <div class="form-group">
      <input type="text" class="form-control" asp-for="FirstName" placeholder="First name">
    </div>
    <br />
    <div class="form-group">
      <input type="text" class="form-control" asp-for="LastName" placeholder="Last name">
    </div>
    <br />
    <div class="form-group">
      <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
    </div>
    <br />
    <div class="form-group">
      <input type="email" class="form-control" asp-for="Email" placeholder="Email">
    </div>
    <br />
    <div class="form-group">
      <input type="text" class="form-control" asp-for="Address" placeholder="Address">
    </div>
    <br />
    <div class="form-group">
      <input type="text" class="form-control" asp-for="City" placeholder="City">
    </div>
     <br />
     <a asp-action="Index" class="btn btn-secondary">Back to List</a>
     <button class="btn btn-primary" type="submit">Edit</button>
</form>


